.Color1{
    background-image: url(../imagenes/6.png);
    color: white;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.Titulo{
    padding-top: 200px;
    font-size: 90px;
}

.Titulo-1{
    padding-top: 10px;
    font-size: 20px;
}

.Img-Titulo{
    display: flex;
}


.Color2{
    background-color: #0E0E0F;
    color: white;
}

.Subtitulo{
    padding: 25px;
    font-size: 47px;
    padding-top: 100px;
    text-align: center;
}

.Info{
    padding: 15px;
    font-size: 19px;
    text-align: center;
}

.button{
    margin: 30px;
    color: white;
    display: inline-block;
    padding: 10px 0px;
    text-align: center;
    text-decoration: none;
    border: 2px solid #5300A1;
    font-size: 32px;
    width: 240px;
    border-radius: 30px;
}

.button-1{
    margin: 30px;
    color: white;
    display: inline-block;
    padding: 10px 0px;
    text-align: center;
    text-decoration: none;
    border: 2px solid #7400D5;
    font-size: 32px;
    width: 240px;
    border-radius: 30px;
}

.button-2{
    margin: 30px;
    color: white;
    display: inline-block;
    padding: 10px 0px;
    text-align: center;
    text-decoration: none;
    border: 2px solid #D50000;
    font-size: 32px;
    width: 240px;
    border-radius: 30px;
}

.button-3{
    margin: 30px;
    color: white;
    display: inline-block;
    padding: 10px 0px;
    text-align: center;
    text-decoration: none;
    border: 2px solid #0054D5;
    font-size: 32px;
    width: 240px;
    border-radius: 30px;
}

.Footer{
    background-color: #2B2B2E;
}

.Text-Footer{
    padding-top: 20px;
    font-size: 35px;
    color: white;
    text-align: center;
}

.Text-Footer-1{
    font-size: 15px;
    color: #BCBCBC;
    padding-top: 5px;
}
